@using SharedZone.Web.Models;

@model ServerViewModel


@{
    string labelclass = "control-label col-md-8  text-primary-green pl-1 pr-1 text-uppercase font-weight-bold";
     string editorclass = "col-md-12 pl-1 pr-1";
}

@using (Ajax.BeginForm("MergeServer", "Server"
        , new AjaxOptions() { UpdateTargetId = "rightdialog", HttpMethod = "Post", LoadingElementId = "locloading" }
        , new { Id = "SubmitForm" }))
{
    <div class="bg-white p-1">
        @Html.HiddenFor(x => x.IsDirectory)

        <input name="Id" value="@Model.Id" class="d-none" />

        <div class="form-group  ">
            <label class="@labelclass">@Html.DisplayFor(x => x.NameCaption)</label>
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = labelclass })*@
            <div class="@editorclass">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control  bg-light p-1" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.LabelFor(model => model.RevitVersionId, htmlAttributes: new { @class = labelclass })
        @Html.Action("RevitVersions", new { selected = Model.RevitVersionId })


        @_Controls.SaveCancelButtons()
    </div>

    

}

